{% extends 'appbase.html.twig' %}
{% block title %}Welcome to {{ appname }}{% endblock %}
{% block additionalStuff %}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
  integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
  crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
  integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
  crossorigin=""></script>
{% endblock %}
{% block body %}
    <div class="container">
      <div class="row">
        <div class="col">
          <h4 class="display-4">Benutzer anzeigen</h1>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Mailadresse</th>
                <th scope="col" Telefon</th>
              </tr>
            </thead>
            <tbody>
          {% for user in users %}
          <tr>
            <th>{{user.lastname}} {{user.firstname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.phone}}</td>
          </tr>
          {% endfor %}
        </table>
        </div>
      </div>
    </div>
  </body>
</html>
{% endblock %}
